* eol=lf text=auto

*.c diff=cpp linguist-language=c text
*.h diff=cpp linguist-language=c text
*.cpp diff=cpp linguist-language=cpp text
*.hpp diff=cpp linguist-language=cpp text

*.md diff=markdown linguist-documentation text

/.editorconfig text
/.gitattributes text
/.gitignore text

*.out export-ignore
